@import url('https://fonts.googleapis.com/css2?family=Playwrite+BR+Guides&family=Smooch+Sans:wght@100..900&display=swap');

.container {
    display: flex;
    justify-content: center;
}

#main-container {
    height: 100%;
    width: 700px;
    border: 1px solid black;
}

#main-container p {
    font-size: 13px;
}

#main-container ul li {
    font-size: 14px;

}

.mini-container-1 {
    text-align: center;
    border-bottom: 4px solid black;
}

.mini-container-2 {
    text-align: center;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
}

.mini-container-3 {
    border-bottom: 2px solid black;
}

.mini-container-4 {
    border-bottom: 2px solid black;
}

.heading {
    text-align: center;
}

.text {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}

.list {
    display: flex;
    justify-content: space-between;
    line-height: 20px;
}
button{
    padding: 10px;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
    padding: 10px;
    background-color: #007bff;
    color: #fff3f3;
    border: 0px;
    width: 170px;
}
.box{
    display: flex;
    justify-content: center;
}
.button :hover{
    background-color: #0056b3;
}
@media (max-width:600px) {
    #main-container {
        height: 100%;
    }
    .box{
        display: flex;
        justify-content: center;
    }
    
    
}
