* {
    margin: 0px;
    padding: 0px;
}

#contan{
    margin-bottom: 300px;
    width: 625px;
    height: 842px;
    position: relative;
    left: 10%;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    position: relative;
    top: 0%;
}

html {
    background-color: #d4ebf83d;
}

.container{
    width: 740px;
    height: 942px;
    position: relative;
    left: 22%;
}

#head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 130px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 10px;
}

#name {
    padding-bottom: 11px;
}

.container1 {
    width: 620px;
    height: 680px;
   
    margin-left: 1px;
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
}

.Box {
    height: 665px;
    background-color: rgb(255, 255, 255);
    margin-top: 7px;
    
    width: 48%;
}

.item1 {
    margin: 1px;
}

.item1 h2 {
    margin-left: 9px;
}

.item1 ul li{
    list-style: none;
    margin: 10px;
}

.item2 {
    margin: 1px;
}
.item2 h2{
    margin-bottom: 7px;
}
.item2 b p{
    margin-left:7px;

}
.item2 p{
    margin:15px;
    text-align:justify
}
.text{
    margin: 9px;
}
.item3 ul li{
    margin-left:10px;
    list-style:none;
    padding-bottom:15px;
}
.item4 ul li{
    list-style:none;
    margin-left:10px;
    padding-bottom:15px;
    padding-top:8px;
    
}
.item5{
    margin:0px;   
}
.item5 p{
    margin-left:10px;
    text-align:justify;
    
}
.item6 b p{
    margin-left:9px;
}
.item6 ul li{
    margin:10px;
    list-style:none;
    text-align:justify;
}
#btn{
    padding:10px;
    border-radius:3px;
    background-color: #007bff;
    color: #fff3f3;
    transition: background-color 0.3s ease;
    width: 170px;
    border: none;
    margin: 10px 0px 10px 0px;
}
.but{
    display: flex;
    justify-content: center;
}



@media screen and (max-width:600px) {

    #contan{
        background-color: rgb(255, 255, 255);
        width: 450px;
        height: 100%;
        border: 2px solid rgb(0, 0, 0);
        margin-bottom: 200px;
        margin-left: 0px;
        position:relative;
        left: 15px;
        top: 5px;
        
    }

    .container1 {
        width: 445px;
        height: 100%;
        display: flex;
    }
    .Box {
        height: 100%;
        
    }

    #btn {
        display: none;
    }

    .container {
        width: 49px;
        height:100%;
        position: relative;
        left: 0px;
        top: 0px;
        

    }
    
 
    .text {
        font-size: 18px;
    }
.item1{
    margin:0px;
}
.item1 ul li{
    list-style: none;
    
}
.item2 h2 {
    margin-bottom: 1px;
}
.item2 b p{
    margin:1px;
    padding-left:7px;
}
.item2 p{
    margin:1px;
    text-align:justify;
    padding-left:7px;
}
.item3 ul li{
    padding-bottom:4px;
}
    .item4 {
        margin: 4px;
    }

    .item4 ul li {
        list-style: none;
        padding-bottom:4px;
    }

    #head {
        height: 80px;
    }

    .item5 {
        margin-left: 9px;
    }

    .item5 p {
        margin: 3px;
        text-align: justify;
        padding-left:7px;
    }

    .item6 {
        margin: 9px;
    }

    .item6 h2 {
        margin-bottom: 3px;
    }

    .item6 p {
        margin-bottom: 3px;
    }

    .item6 ul li {
        list-style: none;
        margin-bottom: 3px;
        text-align: justify;
    }

    .item7 {
        margin: 9px;
    }


    .item7 b p {
        margin-bottom: 4px;
    }
    #btn1{
       
     
        padding:10px;
        border-radius:3px;
        background-color: #007bff;
        color: #fff3f3;
        margin: 10px 0px 10px 0px;
        transition: background-color 0.3s ease;
        width: 170px;
        border: none;
    }
}